<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="layoutET1.css">
        <title>"Economic Times"</title>
    </head>
    <body>
        <div class="main_wrapper">
            <div class="head1">
                <div class="ad1">
                    <h1>ad1</h1>
                </div>
                <div class="ad2">
                    <h1>ad2</h1>
                </div>
                <div class="log_nd_det">
                    <div class="log">
                        <img src="/home/quilltez/Public/training/image/download.png" alt="logo">
                    <div>
                    <div class="det">
                        <h1>time language</h1>
                    </div>
                </div>
                <div class="link_wrappper">
                    <h1>link</h1>
                </div>
            </div>
            <div class="body1">
                    <div class="layout_wrapper">
                        <div class="two_column">
                            <div class="first_column">
                                <img src="/home/quilltez/Public/training/image/test2.jpg" alt="img">
                            </div>
                            <div class="second_column">
                                <a href="https://economictimes.indiatimes.com/markets/stocks/earnings/eicher-motors-q2-results-profit-rises-76-yoy-to-rs-657-crore-revenue-jumps-57/articleshow/95427092.cms">Eicher Motors' Q2 profit surge fails to outpace Street's forecast</a>
                            </div>
                        </div>
                        <div class="single_column">
                            <a href="https://economictimes.indiatimes.com/markets/stocks/earnings/zomato-q2-results-net-loss-narrows-to-rs-251-crore-revenue-jumps-62-yoy/articleshow/95429700.cms">Zomato delivers narrower loss in Q2</a><br>
                            <a href="https://economictimes.indiatimes.com/industry/renewables/india-may-soon-export-green-hydrogen/articleshow/95418550.cms">India is close to ship energy of tomorrow to the world</a><br>
                            <a href="https://economictimes.indiatimes.com/tech/technology/elon-musks-first-email-to-twitter-staff-ends-remote-work/articleshow/95425478.cms">Musk’s 1st mail to Twitter staff warns of tough times</a><br>
                            <a href="https://economictimes.indiatimes.com/mf/analysis/some-it-or-tech-sector-funds-decline-40-in-one-year-whats-in-store-for-it-funds/articleshow/95416798.cms">Is more pain in store for tech sector funds?</a>
                        </div>
                        <div class="three_column">
                            <div class="first_wrapper">
                                <h1>first col</h1>
                            </div>
                            <div class="second_wrapper">
                                <h1>second col</h1>
                            </div>
                            <div class="third_wrapper">
                                <h1>third col</h1>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar_wrapper">
                        <div class="sidebar1">
                            <img src="/home/quilltez/Public/training/image/sidimg1.webp">
                            <a href="https://economictimes.indiatimes.com/prime/pharma-and-healthcare/a-change-of-heart-inside-a-cardiac-transplant-despair-doctor-donor-and-a-new-life/primearticleshow/95411138.cms">Inside a heart transplant — despair, doctor, donor, and a new life</a>
                        </div>
                        <div class="sidebar2">
                            <img src="/home/quilltez/Public/training/image/sidimg2.gif">
                            <a href="https://economictimes.indiatimes.com/prime/corporate-governance/why-lenders-may-emerge-as-the-villains-in-shibasish-sarkars-spac-saga-to-buy-out-reliance-studios/primearticleshow/95410753.cms">Why lenders could be villains in IMAC’s Reliance Studios buyout plan</a>
                        </div>
                        <div class="sideba3">
                            <img src="/home/quilltez/Public/training/image/sidimg3.jpg">
                            <a href="https://economictimes.indiatimes.com/prime/money-and-markets/stock-spotting-are-new-age-retail-investors-able-to-decode-the-science-of-investing/primearticleshow/95408924.cms">Are New Age retail investors able to decode the science of investing?</a>
                        </div>
                        <div class="sidebar4">
                            <img src="/home/quilltez/Public/training/image/sidimg4.jpg">
                            <a href="https://economictimes.indiatimes.com/markets/stocks/news/a-nbfc-promoted-by-a-infra-to-software-conglomerate-along-with-other-large-caps-space-that-have-an-potential-to-gain-up-to-30/articleshow/95420519.cms">An NBFC and other largecap stocks with a 30% gain potential</a>
                        </div>
                        <div class="sidebar5">
                            <img src="/home/quilltez/Public/training/image/sidimg5.webp">
                            <a href="https://economictimes.indiatimes.com/markets/stocks/news/midcap-stocks-with-a-strong-buy-and-buy-rating-with-upside-potential-of-more-than-25/articleshow/95423432.cms">Midcap stocks with more than a 25% upside potential</a>
                        </div>
                    </div>
            </div>
            <div class="footer_wrapper">
                <h1>footer column</h1>
            </div>
        </div>
    </body>
</html>